/* about */
.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.about h1 {
    font-size: 80px;
    font-weight: 900;
    color: #30499F8F;
}

#main {
    color: #30499F;
}

/* logo */
.about_logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 10rem;
}

.logo {
    border: 7px solid black;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.actual_logo {
    background-image: url("asset/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    animation: spin 5s linear infinite;
}


/* about info */

.about_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    gap: 7rem;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.about_info p {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.about_info div{
    position: absolute;
    background-color: rgb(80, 80, 213);
    width: 15rem;
    height: 15rem;
    opacity: 0;
    transition: opacity 1s;
}

.about_info div.visible {
    opacity: 1;
}

.slide_image_1 {
    top: 2%;
    right: -8%;
    transform: rotate(8deg);
}
.slide_image_2 {
    top: 20%;
    left: -3%;
    transform: rotate(11deg);
}
.slide_image_3 {
    top: 50%;
    left: -1%;
    transform: rotate(8deg);
}
.slide_image_4 {
    top: 45%;
    right: -1%;
    transform: rotate(-5deg);
}
.slide_image_5 {
    top: 80%;
    left: -2%;
    transform: rotate(-8deg);
}
.slide_image_6 {
    top: 80%;
    right: -2%;
    transform: rotate(4deg);
}

/* faq */

.faq {
    width: 100%;
    height: 1000px;
    padding-top: 7rem;
    padding-bottom: 10rem;
    border-radius: 700px 700px 0px 0px;
    background-color: #645EA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.faq h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}

.accordion {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.accordion-item {
    text-align: left;
    width: 90%;
    background-color: white;
    font-size: 50px;
    border-radius: 30px;
    
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: max-height 0.3s ease-in-out;
}

.my_line {
    width: 90%;
    border-bottom: 3px solid black;
}

.accordion-content p {
    font-size: 30px;
    font-weight: 400;
}

.accordion-header {
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    padding: 1rem 4rem;
}

.accordion-item.active .accordion-content {
    height: auto;
    max-height: 500px;
}

