/* about */
.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.about h1 {
    font-size: 80px;
    font-weight: 900;
    color: #30499F8F;
}

#main {
    color: #30499F;
}

/* logo */
.about_logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 10rem;
}

.logo {
    border: 7px solid black;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.actual_logo {
    background-image: url("asset/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 70%;
    animation: spin 5s linear infinite;
}


/* about info */

.about_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    gap: 7rem;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.about_info p {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.slide_wrapper{
    position: absolute;
    transition: 1s;
    width: 100%;
    height: auto;
    /* background-color: black; */
}

.slide_wrapper div {
    background-color: rgb(80, 80, 213);
    width: 15rem;
    aspect-ratio: 1/1;
}


.slide_wrapper_1 {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-200%) translateX(20%); 
}

.slide_wrapper_2 {
    display: flex;
    justify-content: flex-start;
    transform: translateY(-110%) translateX(-20%);
}
.slide_wrapper_3 {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-20%) translateX(20%);
}
.slide_wrapper_4 {
    display: flex;
    justify-content: flex-start;
    transform: translateY(70%) translateX(-20%);
}
.slide_wrapper_5 {
    display: flex;
    justify-content: flex-end;
    transform: translateY(160%) translateX(20%);
}
.slide_wrapper_6 {
    display: flex;
    justify-content: flex-start;
    transform: translateY(230%) translateX(-20%);
}

.slide_wrapper_1.visible {transform: translateX(10%) translateY(-200%);}
.slide_wrapper_2.visible {transform: translateX(-10%) translateY(-110%);}
.slide_wrapper_3.visible {transform: translateX(10%) translateY(-20%);}
.slide_wrapper_4.visible {transform: translateX(-10%) translateY(70%);}
.slide_wrapper_5.visible {transform: translateX(10%) translateY(160%);}
.slide_wrapper_6.visible {transform: translateX(-10%) translateY(230%);}


.slide_image_1 { transform: rotate(8deg); }
.slide_image_2 { transform: rotate(11deg); }
.slide_image_3 { transform: rotate(8deg); }
.slide_image_4 { transform: rotate(-5deg); }
.slide_image_5 {  transform: rotate(-8deg); }
.slide_image_6 { transform: rotate(4deg); }



/* faq */

.faq {
    width: 100%;
    height: auto;
    padding-top: 7rem;
    padding-bottom: 4rem;
    border-radius: 700px 700px 0px 0px;
    background-color: #645EA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.faq h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}

.accordion {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

}
.accordion-item {
    text-align: left;
    width: 90%;
    background-color: white;
    font-size: 50px;
    border-radius: 30px;
    position: relative;
    
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    transition: max-height 0.3s ease-in-out;

}

.faq .line {
    align-self: center;
    width: 90%;
    border-top: 3px solid black;
    padding: 0;
    margin-bottom: 1rem;
}

.accordion-content p {
    margin: 0 auto;
    width: 90%;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}

.accordion-header {
    cursor: pointer;
    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}

.accordion-header h6{
    font-weight: 600;
}

.accordion-item.active .accordion-content {
    height: auto;
    max-height: 500px;
}

.accordion-header i{
    font-size: 1.5rem;
    padding-right: 1rem;
    transition: transform 0.5s ease;
}




