/* image */
.image img{
    background-size: cover;
    width: 100vw;
    height: 95vh;
    position: relative;
    /* padding: 0px; */
    /* background-position: center center; */
    /* margin: auto; */
    filter: blur(2px);
}
/* comment */
/* Comment2 */
.image h1 {
    color: #69A956;
    font-size: 128px;
    font-weight: 900;
    position: absolute;
    bottom: 48%;
    left: 35%;
    margin: auto;
    display: flex;
}

/* navigation */
.parent_wide_div{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100vh;
    margin-bottom: 3rem;
    padding: 2rem 0rem;
    transition: transform 0.5s ease-out;
    align-items: center;
}

.nav_container_product {
    width: 100vw;
    position: relative;
}


.navigation_bar{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 2vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.nav_product{
    width: 100%;
    height: 15%;
    cursor: pointer;
}

/* .product {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0rem 1rem;
    position: relative;
} */

/* .product_image_container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_image {
    width: 80%;
    height: 90%;
    background-size: cover;
    border-radius: 146px;
}

.product_detail{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product_title {
    font-size: 7rem;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    line-height: 8rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.product_info {
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    align-self: flex-end;
    line-height: 32.78px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.line {
    width: 90%;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.product_btn:hover {
    background-color: black;
    color: white; 
}

.product_logo {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    bottom: 8%;
    left: 30%;
}



.product_image_1 {
    background-image: url("asset/picked-organic-raspberries-macro.jpg");
}

.product_image_2 {
    background-image: url("asset/close-up-bunch-raw-lemons.jpg");

}
.product_image_3 {
    background-image: url("asset/white-cosmos-flowers.jpg");

}
.product_image_4 {
    background-image: url("asset/close-up-green-leaves-nature.jpg");

}
.product_image_5 {
    background-image: url("asset/blacktea.jpg");

}
.product_image_6 {
    background-image: url("asset/close-up-view-natural-seeds-concept.jpg");

}

.product_title_1 {
    color: #BC284A;
}
.product_title_2 {
    color: #F99D44;
}
.product_title_3 {
    color: #FEBE4B;
}
.product_title_4 {
    color: #69A956;
}
.product_title_5 {
    color: #30499F;
}
.product_title_6 {
    color: #645EA9;
} */

.nav1 {
    background-color: rgba(188, 40, 74, 0.5);
}
.nav2 {
    background-color: rgba(249, 157, 68, 0.5);
}
.nav3 {
    background-color: rgba(254, 190, 75, 0.5);
}
.nav4 {
    background-color: rgba(105, 169, 86, 0.5);
}
.nav5 {
    background-color: rgba(48, 73, 159, 0.5);
}
.nav6 {
    background-color: rgba(100, 94, 169, 0.5);
}

/* .nav1 {
    background-color: #BC284A;
    filter: opacity(50%);
}
.nav2 {
    background-color: #F99D44;
}
.nav3 {
    background-color: #FEBE4B;
}
.nav4 {
    background-color: #69A956;
}
.nav5 {
    background-color: #30499F;
}
.nav6 {
    background-color: #645EA9;
} */

.card-cover{
    position: relative;
    margin: 0 10vw;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    transition: 0.5s;
    border: none;
}

.card-cover .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    overflow: hidden;
    content: '';
    clip-path: circle(300px at center);
    background-size: cover;
    transition: 0.5s;
    border: none;
}

.card_1 .circle{
    background-image: url(asset/picked-organic-raspberries-macro.jpg);
}

.card_2 .circle{
    background-image: url(asset/organic-vegetarian-pile-group-oranges.jpg);
}

.card_3 .circle{
    background-image: url(asset/white-cosmos-flowers.jpg);
}

.card_4 .circle{
    background-image: url(asset/close-up-green-leaves-nature.jpg);
}

.card_5 .circle{
    background-image: url(asset/blacktea.jpg);
}

.card_6 .circle{
    background-image: url(asset/close-up-view-natural-seeds-concept.jpg);
}

.card:hover .circle{
    opacity: 0.3;
    clip-path: circle(800px at center);
}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover  img{
    left: 80%;
    height: 600px;
}

.card .content{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 20px 20px 20px 100px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2{
    text-transform: uppercase;
    font-family: 'Abril Fatface',cursive;
    font-size: 5em;
    margin-bottom: 0.3em;
    font-weight: 300;
}

.card_1 .content h2{
    color: #BC284A;
}

.card_2 .content h2{
    color: #F99D44;
}

.card_3 .content h2{
    color: #FEBE4B;
}

.card_4 .content h2{
    color: #69A956;
}

.card_5 .content h2{
    color: #30499F;
}

.card_6 .content h2{
    color: #645EA9;
}

.card .content p{
    font-size: 1.4em;
}

.card .line{
    width: 80%;
    margin: 1em 0;
    padding: 0;
}

@media (max-width: 991px)
{
    .image h1{
        font-size: 5em;
    }
    .card:hover{
        height: auto;
    }
    .card .content{
        width: 50%;
        padding-left: 40px;
    }
    .card .content h2{
        font-size: 3em;
    }
    .card .content p{
        font-size: 1em;
    }
    .card:hover img{
        top: 70%;
        height: 400px;
    }
    .card .circle{
        border-radius: 100px;
    }

    .card button{
        padding: 10px;
        width: 60%;
    }
}

@media (max-width: 420px)
{
    .image h1{
        font-size: 5em;
    }
    .card{
        height: auto;
        max-width: 80vw;
        align-items: flex-start;
    }
    .card:hover{
        height: 90vh;
    }
    .card .content{
        padding: 20px;
        width: 100%;
    }
    .card .content h2{
        font-size: 2.5em;
        text-align:center;
    }
    .card .content p{
        font-size: 1em;
    }
    .card:hover img{
        top: 85%;
        left: 55%;
        height: 300px;
    }
    .card button{
        padding: 5px;
        width: 50%;
    }
}