body {
    /* overflow-x: hidden; */
}
/* image */
.image {
    background-size: cover;
    width: 100%;
    height: 793px;
    background-image: url("./asset/Flat\ lay\ cup\ with\ lemon\ tea.png");
    background-repeat: no-repeat;
    position: relative;
    padding: 0px;
    background-position: center center;
    margin: 0;
}

.image h1 {
    color: #69A956;
    font-size: 128px;
    font-weight: 900;
    position: absolute;
    bottom: 10%;
    left: 25%;
}

/* navigation */
.parent_wide_div{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100vh;
    margin-bottom: 3rem;
    padding: 2rem 0rem;
    transition: transform 0.5s ease-out
}
.nav_container_product {
    width: 100vw;
    position: relative;
}


.navigation_bar{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 2vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.nav_product{
    width: 100%;
    height: 16%;
    cursor: pointer;
}

.product {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0rem 1rem;
    position: relative;
}

.product_image_container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_image {
    width: 80%;
    height: 90%;
    background-size: cover;
    border-radius: 146px;
}

.product_detail{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product_title {
    font-size: 7rem;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    line-height: 8rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.product_info {
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    align-self: flex-end;
    line-height: 32.78px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.line {
    width: 90%;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.product_btn:hover {
    background-color: black;
    color: white; 
}

.product_logo {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    bottom: 8%;
    left: 30%;
}



.product_image_1 {
    background-image: url("asset/picked-organic-raspberries-macro.jpg");
}

.product_image_2 {
    background-image: url("asset/close-up-bunch-raw-lemons.jpg");

}
.product_image_3 {
    background-image: url("asset/white-cosmos-flowers.jpg");

}
.product_image_4 {
    background-image: url("asset/close-up-green-leaves-nature.jpg");

}
.product_image_5 {
    background-image: url("asset/blacktea.jpg");

}
.product_image_6 {
    background-image: url("asset/close-up-view-natural-seeds-concept.jpg");

}

.product_title_1 {
    color: #BC284A;
}
.product_title_2 {
    color: #F99D44;
}
.product_title_3 {
    color: #FEBE4B;
}
.product_title_4 {
    color: #69A956;
}
.product_title_5 {
    color: #30499F;
}
.product_title_6 {
    color: #645EA9;
}
.nav1 {
    background-color: #BC284A;
}
.nav2 {
    background-color: #F99D44;
}
.nav3 {
    background-color: #FEBE4B;
}
.nav4 {
    background-color: #69A956;
}
.nav5 {
    background-color: #30499F;
}
.nav6 {
    background-color: #645EA9;
}

.product_logo_1 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_2 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 4.png");
}
.product_logo_3 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_4 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_5 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_6 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}




















