/* image */
.image {
    background-size: cover;
    width: 100%;
    height: 793px;
    background-image: url("./asset/Flat\ lay\ cup\ with\ lemon\ tea.png");
    background-repeat: no-repeat;
    position: relative;
    padding: 0px;
    background-position: center center;

}

.image h1 {
    color: #69A956;
    font-size: 128px;
    font-weight: 900;
    position: absolute;
    bottom: 10%;
    left: 25%;
}

/* navigation */
.navigation {
    display: flex;
    flex-direction: row;
    width: 8640px;
    height: 900px;
    overflow: hidden;
    margin-bottom: 3rem;
}
.product {
    display: flex;
    flex-direction: row;
    width: 16%;
    padding: 2rem 1rem;
    position: relative;
}

.product_image_container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_image {
    width: 80%;
    height: 80%;
    background-size: cover;
    border-radius: 146px;
}



.product_detail{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product_title {
    font-size: 120px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    line-height: 161.88px;
    width: 100%;
    margin-bottom: 1rem;
}

.product_info {
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    align-self: flex-end;
    line-height: 32.78px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.product_btn {
    margin-top: 2rem;
    background-color: transparent;
    border-radius: 42.5px;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid black;
    color: black;
    padding: 20px 20px;
    cursor: pointer;
    width: 30%;
    transition: 0.3s;
}

.product_btn:hover {
    background-color: black;
    color: white; 
}

.product_logo {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 55%;
    height: 55%;
    bottom: 10%;
    left: 25%;
}



.product_image_1 {
    background-image: url("asset/picked-organic-raspberries-macro.jpg");
}

.product_image_2 {
    background-image: url("asset/close-up-bunch-raw-lemons.jpg");

}
.product_image_3 {
    background-image: url("asset/white-cosmos-flowers.jpg");

}
.product_image_4 {
    background-image: url("asset/close-up-green-leaves-nature.jpg");

}
.product_image_5 {
    background-image: url("asset/blacktea.jpg");

}
.product_image_6 {
    background-image: url("asset/close-up-view-natural-seeds-concept.jpg");

}

.product_title_1 {
    color: #BC284A;
}
.product_title_2 {
    color: #F99D44;
}
.product_title_3 {
    color: #FEBE4B;
}
.product_title_4 {
    color: #69A956;
}
.product_title_5 {
    color: #30499F;
}
.product_title_6 {
    color: #645EA9;
}

.product_logo_1 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_2 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 4.png");
}
.product_logo_3 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_4 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_5 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}
.product_logo_6 {
    background-image: url("asset/Render_Mockup_3840_2160_2023-09-13\ 3.png");
}




















