@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
}

button {
    background-color: transparent;
    border-radius: 42.5px;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid black;
    color: black;
    padding: 20px;
    cursor: pointer;
    width: 40%;
    transition: 0.3s;
}

@media (max-width:991px){
    button{
        padding: 12px;
        font-size: 1em;
    }
}

@media (max-width:768px){
    button{
        padding: 10px;
        font-size: 0.8em;
    }
}

@media (max-width:450px){
    button{
        padding: 5px;
        font-size: 0.8em;
    }
}

button:hover {
    background-color: black;
    color: white; 
}

#button_reverse{
    border: 2px solid white;
    color: white;
}

#button_reverse:hover{
    background-color: white;
    color: black; 
}


/* HEADER */
header{
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 0.5rem 2%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-decoration: none;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin: auto;
    align-content: center;
}

header .logo{
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    display: flex;
	justify-content: center;
    z-index: 1111;
}

header .logo img{
    height: 3em;
    margin-bottom: 1em;
}

header .navbar{
    display: flex;
    flex-wrap: nowrap;
}

header .navbar a{
    font-size: 1.1rem;
    padding: 0 0.5rem;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
}

header .navbar a:hover{
    text-decoration: underline;
    transition: 1s;
}

header .icons{
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
}
header .icons a{
    font-size: 1.5rem;
    color: #FFF;
    margin-left: 1.5rem;
    text-decoration: none;
}

header #toggler{
    display: none;
}

#toggler:checked ~ .navbar{
    display: block;
    transition: 1s ease-in-out;
    background-color: #000;
}

header .fa-bars{
    font-size: 2rem;
    color: #FFF;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    display: none;
}

@media (max-width:991px){
    header{
        padding: 0.5rem;
    }

    header .navbar a{
        padding: 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        display: none;
    }

    header .navbar a{
        padding: 1rem;
        background: #000;
        display: block;
        flex-wrap: wrap;
        font-size: 1.5rem;
        padding-left: 2rem;
    }
}

@media (max-width:450px){
    header .icons{
        font-size: 0.5rem;
    }
    header .fa-bars{
        font-size: 1.5rem;
    }
    header .navbar a{
        padding: 0.5rem;
        font-size: 1rem;
        padding-left: 2rem;
    }
}

/* FOOTER */
footer{
	background-color: black;
	width: 100vw;
    color: white;
}

.container{
	padding: 3em 5vw 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* keep-in-touch section styling*/
.kit{
	display: flex;
	align-items: flex-end;
    flex-direction: column;
}

.kit h3{
	font-size: 5em;
    font-family: 'Abril Fatface', cursive;
    margin-top: -20px;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: right;
}

.kit input{
	padding: 1em;
	border-radius: 25px;
}

.footer_form {
    display: flex;
    gap: 1rem;
    height: 100%;
    justify-content: flex-end;
}

#email{
    width: 20em;
}

#submit{
	width: 6em;
}

/* social media icons styling */
.links nav ul li i{
	font-size: 1.8em;
    color: black;
    padding: 0.3em;
    background-color: white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.links nav ul{
    display: flex;
    justify-content: flex-end;
}

.fa-brands{
    text-decoration: none;
}

/* navigation section styling*/
.menu, .links{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    text-transform: uppercase;
	list-style-type: none;
	text-decoration:none;
    padding: 2em 0;
    width: 100%;
}

.menu nav ul li, .links nav ul li {
    display: inline;
    margin-left: 1em;
    color: white;
}

.menu nav ul li a{
    color: white;
    text-decoration:none;
    font-weight: 800;
}

.line_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserve_container {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
    font-size: 0.8em;
}

.line{
    border-top: 1px solid;
	width: 90vw;
	padding: 1rem 1rem 0;
}

.line_m{
    border-top: 1px solid;
	position: relative;
	width: 100%;
	padding: 0;
    margin-right: 0;
}

.footer_logo {
    position: absolute;
    height: 20em;
    width: 20em;
    opacity: 0.3;
    transform: translate(25%,20%);
}

.kit_container {
    height: 100%;
}

@media (max-width:991px){
    .container{
        padding: 2em 5vw 0;
    }
    .kit input{
        padding: 0.7em;
    }
    .kit h3{
        font-size: 4em;
        margin-top: 0;
    }
    .line_m{
        width: 50vw;
    }
    .menu, .links{
        padding: 1.8em 0;
        font-size: 1em;
    }
    .footer_logo{
        height: 17em;
        width: 17em;
        transform: translate(20%, 20%);
    }
}

@media (max-width:768px) {
    .kit h3{
        font-size: 3em;
        margin-top: 0;
    }
    .menu nav ul li{
        margin-left: 1em;
    }
    .footer_logo{
        height: 15em;
        width: 15em;
        transform: translate(20%, 30%);
    }
}
@media (max-width:450px){
    .container{
        padding: 1em 5vw 0;
    }
    .kit h3{
        font-size: 2.4em;
        margin-top: 0;
    }
    .line_m{
        width: 90vw;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        text-align: right;
        row-gap: 1em;
    }
    .footer_logo{
        height: 11em;
        width: 11em;
        transform: translate(20%, 145%);
    }
}


/* ------------------------------------- HOME PAGE --------------------------------------------- */

/* HERO */
.hero{
    background-color: black;
    /* width: 80vw; */
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.hero_image {
    background-image: url("asset/picked-organic-raspberries-macro.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 50%;
    border-radius: 268.5px;
    position: absolute;
    z-index: 0;
}

.logo{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.hero_logo {
    z-index: 2;
    width: 100%;
    height: 200%;
    background-image: url("asset/D&S_Logo_1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(50%);
}


.hero_text_dip {
    font-size: 250px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    position: relative;
}

.hero_text_sip {
    font-size: 250px;
    color: white;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: relative;
}

/* CTA */
.shop{
    display: grid;
	grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
	width: 90vw;
    align-content: center;
    padding:0 0 5em 0;
}

.shop-image{
	background-size: contain;
    display: flex;
    position: relative;
}

.shop-image img{
    width: 50vw;
    height: auto;
}

.red_blured_bk {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(255, 85, 85, 0.8), rgb(255, 255, 255) 70%);
    z-index: -99;
}

.shop-text{
    display: flex;
    width: 45vw;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.shop-text h1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    align-items: flex-end !important;
    display: flex;
    margin-bottom: 1em;
    width: 80%;
}

.shop-text a{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
}

@media (max-width:991px){
    .shop{
        grid-template-columns: 1fr 1fr;
    }
    .shop-image img{
        height: 60vh;
    }
    .shop-text{
        width: 45vw;
        padding:0 0 0 3rem;
    }
    .shop-text h1{
        font-size: 3rem;
        width: 100%;
    }
}

@media (max-width:768px){
    .shop{
        grid-template-columns: 1fr 2fr;
    }
    .shop-image img{
        height: auto;
        width: 50vw;
    }
    .shop-text{
        width: 40vw;
    }
    .shop-text h1{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){
    .shop{
        grid-template-rows: 1.4fr 0.6fr;
        grid-template-columns: 1fr;
    }
    .shop-image{
        justify-content: center;
    }
    .shop-image img{
        /* height: 50vh; */
        width: 100vw;
    }
    .shop-text{
        width: 100vw;
        justify-content: center;
        padding: 0 2rem;
    }
    .shop-text h1{
        font-size: 2.5rem;
        width: 100vw;
        text-align: center;
        justify-content: center;
    }
}


/* TEXTS */
.scroll_container div{
    display: grid;
	width: 100vw;
    grid-template-columns: repeat(2, 1fr);  
    column-gap: 1em;
	text-align: center;
	align-items: center;
	justify-content: center;
    text-decoration: none;
}

.scroll_container div a{
    text-decoration: none;
}

.scroll_container div p{
	font-size: 2.8rem;
	justify-content: center;
	object-fit: cover;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Avenir', sans-serif;
    color: black;
}

#red, #orange, #yellow, #green, #blue, #purple {
    white-space: nowrap;
}

#red:hover{color: #C91E4C;}
#orange:hover{color: #D86A1A;}
#yellow:hover{color: #FEBE4B;}
#green:hover{color: #69A956;}
#blue:hover{color: #30499F;}
#purple:hover{color: #645EA9;}

/* infinite auto-scrolling animation */
.scroll_container {
	display: flex;
	align-items: center;
	overflow: hidden;
    height: 15vh;
    width: 100vw;
}

.line_1 {
    transform: rotate(-1.8deg);
}

.line_3{
    transform:  rotate(-1.2deg);
}

.scroll-parent {
	position: relative;
	height: 50vh;
	overflow-x: hidden;
}
  
.scroll-element {
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0%;
	top: 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* from left to right */
.primary {
	animation: primary 5s linear infinite;
}

.secondary {
	animation: secondary 5s linear infinite;
}

@keyframes primary {
	from {
		left: 0%;
	}
	to {
		left: -100%;
	}
}

@keyframes secondary {
	from {
		left: 100%;
	}
	to {
		left: 0%;
	}
}

/* from right to left */
.primary_right {
	animation: primary_right 7s linear infinite;
}

.secondary_right {
	animation: secondary_right 7s linear infinite;
}

@keyframes primary_right {
	from {
		left: -100%;
	}
	to {
		left: 0%;
	}
}

@keyframes secondary_right {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}

@media (max-width:991px){
    .scroll_container div p{
        font-size: 2.5em;
    }
}

@media (max-width:768px){
    .scroll_container{
        height: 12vh;
    }
    .scroll_container div p{
        font-size: 2em;
    }
}

@media (max-width:450px){
    .scroll_container{
        height: 8vh;
    }
    .scroll_container div p{
        font-size: 1em;
    }
}


/* ABOUT */
#about{
    padding: 0 7.5%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    height: 85vh;
    margin-top: 10em;
}

.about-video{
    background-clip: url(asset/pexels_videos_1324942\ \(2160p\).mp4);
    width: 80vw;
    height: 85%;
    object-fit: cover;
    /* border-radius: 90px; */
    position: absolute;
    z-index: -1;
    filter: brightness(0.7);
}

.about-text{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 10%;
    row-gap: 2em;
} 

.about-text h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    margin: 0;
}

.about-text p{
    font-size: 25px;
}

.about-text a{
    height: 4em;
    width: 100%;
}

.about-listing{
    justify-content: center;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about-listing li {
    background-color: #69A956;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Avenir', sans-serif;
    margin-bottom: 50px;
    border-radius: 84px ;
    padding: 20px 20px 20px 70px;
    width: 60%;
    align-content: center;
}

@media (max-width:991px){
    .about-text{
        row-gap: 2em;
    }
    .about-text h1{
        font-size: 3em;
    }
    .about-text p{
        font-size: 1.2em;
    }
    .about-listing li{
        font-size: 1.5em;
        padding: 15px 15px 15px 20px;
        margin-bottom: 30px;
        width: 75%;
    }
}

@media (max-width:768px){
    .about-text{
        row-gap: 1.2em;
    }
    .about-text h1{
        font-size: 2.5em;
    }
    .about-text p{
        font-size: 1em;
    }
    .about-listing li{
        font-size: 1.2em;
        padding: 10px 10px 10px 20px;
        margin-bottom: 25px;
        width: 70%;
    }
    .about-text a{
        height: 3em;
    }
}

@media (max-width:450px){
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
    }
    .about-text{
        row-gap: 0.5em;
        width: 75%;
    }
    .about-text h1{
        font-size: 3em;
    }
    .about-text p{
        font-size: 1em;
    }
    .about-listing li{
        font-size: 1.2em;
        padding: 10px 10px 10px 20px;
        margin-bottom: 25px;
        width: 70%;
    }
}


/* BEST-SELLINGS */
.best_selling {
    margin-top: 200px;
    padding: 0 7.5%;
    display: flex;
    flex-wrap: nowrap;
}

.scroll_container_best_selling {
    width: 50%;
}

.best_selling-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 5rem;
}

.best_selling-text h1 {
    font-size: 5em;
    font-weight: 800;
    font-family: 'Avenir', sans-serif;
    margin:0.5em 0;
}

.best_selling-images {
    display: flex;
	flex-wrap: wrap;
    width: 45vw;
	justify-content: flex-end;
}

.best_selling-image {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70vh;
}

.image1 {
    background-position: left;
    background-image: url("asset/dns_stack1.png");
}

.image2 {
    background-image: url("asset/dns_stack2.png");
    background-position: right;

}
.image3 {
    background-image: url("asset/dns_stack3.png");
    background-position: left;
}

.best_selling-image-btn {
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    border-radius: 50%; 
    width: 8rem;
    aspect-ratio: 1/1;
    outline: none;
    position: absolute;
    background-color: white;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s, color 0.3s;
}

.best_selling-image:hover > .best_selling-image-btn{
    opacity: 1; 
    visibility: visible;  
}

.best_selling-image-btn:hover {
    background-color: black; 
    color: white; 
}

.button1 {
    top: 60%;
    left: 45%;
}
.button2 {
    top: 55%;
    right: -4%;
}
.button3 {
    top: 50%;
    left: 50%;
}

@media (max-width:991px){
    .best_selling-text h1{
        font-size: 3em;
        width: 100%;
    } 
    .best_selling-images{
        width: 100%;
    }
    .best_selling-image{
        height: 60vh;
    }
}

@media (max-width:768px){
    .best_selling-text h1{
        font-size: 2.5em;
    } 
}

@media (max-width:450px){
    .best_selling{
        flex-wrap: wrap;
    }
    .scroll_container_best_selling{
        width: 100%;
    }
    .best_selling-text h1{
        font-size: 3em;
        width: 100%;
    } 
    .best_selling-images{
        width: 100%;
        height: 50%;
    }
    .best_selling-image{
        height: 30vh;
    }
}

/* REVIEWS */
.review{
	margin: 10em auto;
    background-color: #645EA9;
}

.carousel {
	position: relative;
	overflow: hidden;
}

.slider{
	height: 100%;
	display: flex;
	width: 400%;
	transition: all 0.3s;
}

.slider section{
    width: 100%;
    flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 3em 3em 5em;
    row-gap: 2em;
}

.slider section div{
	text-align: center;
	align-items: flex-start;
}

.slider section p{
    font-size: 1.8em;
    width: 60%;
    text-align: center;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

/* buttons styling */
.controls .arrow {
	position: absolute;
	top: 50%;
	cursor: pointer;
	font-size: 2em;
	transform: translateY(-50%);
    color: #fff;
}

.arrow.left {left: 10%;}
.arrow.right{right: 10%;}

.controls ul{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.controls ul li{
	width: 10px;
	height: 10px;
	border: 1px solid white;
	border-radius: 50px;
	margin: 10px;
	background:transparent;
	cursor: pointer;
}

.controls ul li.selected{
	background: white;
}

.fa-star{
    font-size: 30px;
    color: #fff;
    margin: 5px;
}

@media (max-width:991px){
    .slider section{
        row-gap: 1.5em;
    }
    .slider section p{
        font-size: 1.6em;
        width: 70%;
    }
    .fa-star{
        font-size: 1.5em;
    }
    .fa-chevron-left, .fa-chevron-right{
        font-size: 1em;
    }
}

@media (max-width:768px){
    .slider section{
        padding: 2em 3em 4em;
        row-gap: 1.3em;
    }
    .slider section p{
        font-size: 1.3em;
    }
    .fa-star{
        font-size: 1.5em;
    }
    .fa-chevron-left, .fa-chevron-right{
        font-size: 0.8em;
    }
}

@media (max-width:450px){
    .slider section{
        row-gap: 1em;
    }
    .slider section p{
        width: 80%;
    }
    .fa-star{
        font-size: 1em;
    }
    .controls ul li{
        width: 8px;
        height: 8px;
    }
}

/* ------------------------------------- PRODUCT PAGE --------------------------------------------- */

/* image */
.image{
    width: 98vw;
    height: 86vh;
    margin: 2vh auto;
    background-image: url(asset/pexels-ivan-samkov-8952612.jpg);
    background-size: cover;
}

.image h1{
    font-size: 5em;
    font-weight: 900;
    color: #FFF;
    display: flex;
    transform: translateY(35vh);
    margin-right: 3rem;
    justify-content: flex-end;
}

/* navigation */
.parent_wide_div{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    overflow-x: hidden;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 605vw;
    height: 100vh;
    margin-bottom: 3rem;
    padding: 2rem 0rem;
    transition: transform 0.5s ease-out;
    align-items: center;
}

.nav_container_product {
    width: 100vw;
    position: relative;
}

.navigation_bar{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 2vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.nav_product{
    width: 100%;
    height: 15%;
    cursor: pointer;
}

.nav1 {background-color: #BC284A;}
.nav2 {background-color: #F99D44;}
.nav3 {background-color: #FEBE4B;}
.nav4 {background-color: #69A956;}
.nav5 {background-color: #30499F;}
.nav6 {background-color: #645EA9;}

/* product cards */
.card{
    position: relative;
    margin: 10vh 10vw 0;
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    overflow: hidden;
    content: '';
    clip-path: circle(300px at center);
    background-size: cover;
    transition: 0.5s;
}

.card_1 .circle{background-image: url(asset/picked-organic-raspberries-macro.jpg);}
.card_2 .circle{background-image: url(asset/organic-vegetarian-pile-group-oranges.jpg);}
.card_3 .circle{background-image: url(asset/white-cosmos-flowers.jpg);}
.card_4 .circle{background-image: url(asset/close-up-green-leaves-nature.jpg);}
.card_5 .circle{background-image: url(https://www.mcivers.melbourne/cdn/shop/products/Russian-Caravan20170125_0122.jpg?v=1595483952);}
.card_6 .circle{background-image: url(asset/close-up-view-natural-seeds-concept.jpg);}

.card:hover .circle{
    opacity: 0.3;
    clip-path: circle(800px at center);
}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover  img{
    left: 80%;
    height: 600px;
}

.card .content{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 20px 20px 20px 80px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2{
    text-transform: uppercase;
    font-family: 'Abril Fatface',cursive;
    font-size: 5em;
    margin-bottom: 0.3em;
    font-weight: 300;
    line-height: 1em;
}

.card_1 .content h2{color: #BC284A;}
.card_2 .content h2{color: #F99D44;}
.card_3 .content h2{color: #FEBE4B;}
.card_4 .content h2{color: #69A956;}
.card_5 .content h2{color: #30499F;}
.card_6 .content h2{color: #645EA9;}

.card .content p{
    font-size: 1.2em;
}

.card .product_line{
    width: 80%;
    margin: 1em 0;
    padding: 0;
    z-index: 99;
    height: 1px;
    border-top: 1px solid;
}

.card button{
    padding: 15px;
}

@media (max-width: 991px)
{
    .image h1{
        font-size: 5em;
    }
    .card:hover{
        height: auto;
    }
    .card .content{
        width: 50%;
        padding-left: 40px;
    }
    .card .content h2{
        font-size: 3em;
    }
    .card .content p{
        font-size: 1em;
    }
    .card:hover img{
        top: 70%;
        height: 400px;
    }
    .card .circle{
        border-radius: 100px;
    }
    .card button{
        padding: 10px;
        width: 60%;
    }
}

@media (max-width: 420px)
{
    .image h1{
        font-size: 5em;
    }
    .card{
        height: auto;
        max-width: 80vw;
        align-items: flex-start;
    }
    .card:hover{
        height: 90vh;
    }
    .card .content{
        padding: 20px;
        width: 100%;
    }
    .card .content h2{
        font-size: 2.5em;
        text-align:center;
    }
    .card .content p{
        font-size: 1em;
    }
    .card:hover img{
        top: 85%;
        left: 55%;
        height: 300px;
    }
    .card button{
        padding: 5px;
        width: 50%;
    }
}


/* ------------------------------------- ABOUT PAGE --------------------------------------------- */

/* title */
.about{
    width: 98vw;
    height: 86vh;
    margin: 2vh auto;
    background-image: url(asset/pexels-ivan-samkov-8952399.jpg);
    background-size: cover;
}

.about h1{
    font-size: 5em;
    font-weight: 900;
    color: #FFF;
    display: flex;
    transform: translateY(35vh);
    margin-left: 3rem;
}

/* logo */
.about_logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 10rem;
}

.logo_container{
    border: 5px solid black;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actual_logo{
    background-image: url(asset/Vector.png);
    background-size: contain;
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    animation: spin 5s linear infinite;
}

/* about info */
.about_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    gap: 10rem;
    overflow: hidden;
    padding: 15rem 0;
}

.about_info p{
    font-size: 1.5em;
    text-align: center;
    width: 30vw;
    line-height: 1.8em;
}

.slide_wrapper{
    position: absolute;
    transition: 1s;
    width: 100%;
    height: auto;
    z-index: 99;
}

.slide_wrapper img{
    background-color: #30499F;
    width: 20em;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.slide_wrapper_1{
    display: flex;
    justify-content: flex-end;
    transform: translate(25%,-300%);
}
.slide_wrapper_2{
    display: flex;
    justify-content: flex-start;
    transform: translate(-25%,-180%);
}
.slide_wrapper_3{
    display: flex;
    justify-content: flex-end;
    transform: translate(25%,-80%);
}
.slide_wrapper_4{
    display: flex;
    justify-content: flex-start;
    transform: translate(-25%,80%);
}
.slide_wrapper_5{
    display: flex;
    justify-content: flex-end;
    transform: translate(25%,180%);
}
.slide_wrapper_6{
    display: flex;
    justify-content: flex-start;
    transform: translate(-25%,290%);
}

.slide_wrapper.visible{
    transition: 1s ease-in-out;
}

.slide_wrapper_1.visible {transform: translate(5%,-300%);}
.slide_wrapper_2.visible {transform: translate(-5%,-180%);}
.slide_wrapper_3.visible {transform: translate(5%,-80%);}
.slide_wrapper_4.visible {transform: translate(-2%,80%);}
.slide_wrapper_5.visible {transform: translate(5%,180%);}
.slide_wrapper_6.visible {transform: translate(-2%,290%);}

.slide_image_1{transform: rotate(-8deg);}
.slide_image_2{transform: rotate(11deg);}
.slide_image_3{transform: rotate(-2deg);}
.slide_image_4{transform: rotate(-3deg);}
.slide_image_5{transform: rotate(8deg);}
.slide_image_6{transform: rotate(5deg);}


/* FAQs */
.faqs{
    width: 100%;
    height: auto;
    padding: 7rem 0;
    /* margin-top: 3em; */
    border-radius: 50% 50% 0 0;
    background-color: #645EA9;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.faqs h1{
    color: #FFF;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
}

.accordion{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.accordion_item{
    text-align: left;
    width: 90%;
    background-color: #FFF;
    font-size: 1em;
    border-radius: 30px;
    position: relative;
}

.accordion_content{
    max-height: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.faqs .acc_line{
    align-self: center;
    width: 92%;
    border-top: 2px solid black;
    padding: 0;
    margin-bottom: 1em;
}

.accordion_content p{
    margin: 0 auto;
    width: 92%;
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 1em;
    line-height: 1.4em;
    text-align: justify;
}

.accordion_header {
    cursor: pointer;
    width: 100%;
    padding: 1em 1em 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 1s ease-in-out;
}

.accordion_header h4{
    font-weight: 600;
    font-size: 1.4em;
}

.accordion_item.active .accordion_content {
    height: auto;
    max-height: 500px;
}

.accordion_header i{
    font-size: 1.5rem;
    padding-right: 1rem;
    transition: transform 1s ease-in-out;
}


/* ------------------------------------- CONTACT PAGE --------------------------------------------- */

/* left section */
.contact_container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

.contact_container .contact_img{
    object-fit: cover;
    filter: brightness(0.6);
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -99;
}

.contact_container .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.row .col{
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.row .left{
    flex-basis: 40%;
    min-width: 320px;
    margin-right: 60px;
    background-color: #FEBE4B;
    padding: 1.5em;
    border-radius: 20px;
}

.row .right{
    flex-basis: 60%;
}

.left .contact_title h2{
    position: relative;
    font-size: 45px;
    color: #000;
    display: inline-block;
    margin-bottom: 25px;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
}

.left .contact_title p{
    font-size: 17px;
    color: #000;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}

.left .contact_info{
    margin-bottom: 16px;
}

.contact_info .icon_group{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.icon_group .icon{
    width: 45px;
    height: 45px;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}

.icon_group .icon i{
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon_group .details span{
    display: block;
    font-size: 18px;
    color: #fff;
}

.icon_group .details span:nth-child(1){
    text-transform: uppercase;
    font-weight: 500;
}

.left .social_media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0 20px;
}

.social_media a{
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #FFF;
    transition: 0.4s;
}

.social_media a i{
    color: #FEBE4B;
    font-size: 25px;
    line-height: 50px;
    border: 1px solid transparent;
    transition: 0.4s;
}

.social_media a:hover{
    transform: translateY(-5px);
    background-color: #fff;
    border: 1px solid #FEBE4B;
}

.social_media a:hover i{
    color: #FEBE4B;
}

/* right section */
.row .right .message_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.row .right .input_group{
    margin: 18px 0px;
    position: relative;
}

.message_form .halfWidth{
    flex-basis: 48%;
}

.message_form .fullWidth{
    flex-basis: 100%;
}

.message_form input, .message_form textarea{
    width: 100%;
    font-size: 18px;
    padding: 2px 0;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #FEBE4B;
    outline: none;
}

.message_form textarea{
    resize: none;
    height: 220px;
    display: block;
}

.input_group label{
    position: absolute;
    left: 0;
    bottom: 4px;
    color: #FEBE4B;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;
}

.input_group label:nth-child(4){
    top: 2px;
}

.input_group input:focus ~ label, .input_group textarea:focus ~ label,
.input_group input:valid ~ label, .input_group textarea:valid ~ label{
    transform: translateY(-30px);
    font-size: 16px;
}

.input_group button{
    padding: 10px 16px;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width:768px){
    .contact_container .row{
        flex-wrap: wrap;
    }
    .row .left, .row .right{
        flex-basis: 100%;
        margin: 0;
    }
}